.content{
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
}

.content__rightSidebar{
    position: fixed;
}

.content__leftSidebar{
    position: fixed;
}

.twitterSVG{
    height: 28px;
    filter: invert(54%) sepia(62%) saturate(3437%) hue-rotate(179deg) brightness(97%) contrast(95%);
}

.leftSidebarMenu{
    
}

.lefSidebarMenu-List{
    font-size: 19px;
    color: black;
    display: flex;
    align-items: center;
}

.lefSidebarMenu-List svg{
    height: 26px;
    margin-right: 20px;
}


/* :root{
    --lightblue: rgb(29, 155, 240);
    --deepblue: rgb(6, 141, 230);
    --lightgrey: rgb(237, 235, 235);
} */




/* .fa-twitter{
    color: var(--lightblue);
    padding: 10px;
}

.fa-twitter:hover{
   background-color: rgb(210, 231, 246);
   border-radius: 50%;
   padding: 10px;
   cursor: pointer;
}

.leftSide{
    padding: 50px;
    padding-top: 5px;
    border-right: 1px solid;
    margin-right: 0%;
}

.leftNavLinks{
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;  
    
}

.leftNavLinks:hover{
    background-color: var(--lightgrey);
    border-radius: 30px;
    cursor: pointer;
}

.leftTweet{
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--lightblue);
    border-radius: 30px;
    color: white;
}

.leftTweet:hover{
    background-color: var(--deepblue);
    color: white;
    cursor: pointer;
     border-radius: 30px;
}

.leftNavBottom{
    margin-top: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftNavBottom img{
    border-radius: 50%;
}
.leftNavBottom p{
    padding: 3px;
}

.leftNavBottom:hover{
    background-color: rgb(237, 235, 235);
    border-radius: 30px;
}

.middleSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0%;
    padding-top: 5px;
    border-right: 1px solid;
    padding: 50px;
    padding-top: 0;
}

.middleHead{
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid;
}

.middleTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0%;
    margin-right: 0%;
}
.middleHead img{
    border-radius: 50%;
} */
